@import url("./icons.css");
:root {
  --c-danger: 255 91 91;
  --c-warning: 249 212 2;
  --c-success: 111 212 134;
  --c-primary: 56 145 255;
  --c-info: 0 178 191;
  --c-secondary: 138 138 138;
  --c-white: 255 255 255;
  --float-1: .1;
  --float-2: .2;
  --float-3: .3;
  --float-4: .4;
  --float-5: .5;
  --float-6: .6;
  --float-7: .7;
  --float-8: .8;
  --float-9: .9;
  --float-10: 1.0;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../font/Ubuntu/Ubuntu-Regular.ttf");
}
/* GLOBAL */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Ubuntu, sans-serif;
  color: #171717;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  background-color: #ffffff;
  padding: 12px;
  box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.2705882353);
  align-items: center;
}

nav a {
  color: #171717 !important;
  text-decoration: none !important;
}

/* CONTAINERS */
[class^=container] {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 0.5em;
}

.continer-sm {
  width: 100%;
  max-width: 800px;
}

.continer-md {
  width: 100%;
  max-width: 1000px;
}

.continer-lg {
  width: 100%;
  max-width: 1200px;
}

.continer-xl {
  width: 100%;
  max-width: 1400px;
}

/* COLORS */
.text-primary {
  color: var(--c-primary);
}

.bg-primary {
  background-color: var(--c-primary);
}

.bg-primary.text-primary {
  background-color: rgb(var(--c-primary)/var(--float-3));
}

.text-success {
  color: var(--c-success);
}

.bg-success {
  background-color: var(--c-success);
}

.bg-success.text-success {
  background-color: rgb(var(--c-success)/var(--float-3));
}

.text-warning {
  color: var(--c-warning);
}

.bg-warning {
  background-color: var(--c-warning);
}

.bg-warning.text-warning {
  background-color: rgb(var(--c-warning)/var(--float-3));
}

.text-danger {
  color: var(--c-danger);
}

.bg-danger {
  background-color: var(--c-danger);
}

.bg-danger.text-danger {
  background-color: rgb(var(--c-danger)/var(--float-3));
}

.text-info {
  color: var(--c-info);
}

.bg-info {
  background-color: var(--c-info);
}

.bg-info.text-info {
  background-color: rgb(var(--c-info)/var(--float-3));
}

.text-secondary {
  color: var(--c-secondary);
}

.bg-secondary {
  background-color: var(--c-secondary);
}

.bg-secondary.text-secondary {
  background-color: rgb(var(--c-secondary)/var(--float-3));
}

.text-white {
  color: var(--c-white);
}

.bg-white {
  background-color: var(--c-white);
}

.bg-white.text-white {
  background-color: rgb(var(--c-white)/var(--float-3));
}

/* MARGIN & PADDING */
.m-1 {
  margin: 0.625rem;
}

.ms-1 {
  margin-left: 0.625rem;
}

.me-1 {
  margin-right: 0.625rem;
}

.mt-1 {
  margin-top: 0.625rem;
}

.mb-1 {
  margin-bottom: 0.625rem;
}

.p-1 {
  margin: 0.625rem;
}

.ps-1 {
  margin-left: 0.625rem;
}

.pe-1 {
  margin-right: 0.625rem;
}

.pt-1 {
  margin-top: 0.625rem;
}

.pb-1 {
  margin-bottom: 0.625rem;
}

.m-2 {
  margin: 1.25rem;
}

.ms-2 {
  margin-left: 1.25rem;
}

.me-2 {
  margin-right: 1.25rem;
}

.mt-2 {
  margin-top: 1.25rem;
}

.mb-2 {
  margin-bottom: 1.25rem;
}

.p-2 {
  margin: 1.25rem;
}

.ps-2 {
  margin-left: 1.25rem;
}

.pe-2 {
  margin-right: 1.25rem;
}

.pt-2 {
  margin-top: 1.25rem;
}

.pb-2 {
  margin-bottom: 1.25rem;
}

.m-3 {
  margin: 1.875rem;
}

.ms-3 {
  margin-left: 1.875rem;
}

.me-3 {
  margin-right: 1.875rem;
}

.mt-3 {
  margin-top: 1.875rem;
}

.mb-3 {
  margin-bottom: 1.875rem;
}

.p-3 {
  margin: 1.875rem;
}

.ps-3 {
  margin-left: 1.875rem;
}

.pe-3 {
  margin-right: 1.875rem;
}

.pt-3 {
  margin-top: 1.875rem;
}

.pb-3 {
  margin-bottom: 1.875rem;
}

.m-4 {
  margin: 2.5rem;
}

.ms-4 {
  margin-left: 2.5rem;
}

.me-4 {
  margin-right: 2.5rem;
}

.mt-4 {
  margin-top: 2.5rem;
}

.mb-4 {
  margin-bottom: 2.5rem;
}

.p-4 {
  margin: 2.5rem;
}

.ps-4 {
  margin-left: 2.5rem;
}

.pe-4 {
  margin-right: 2.5rem;
}

.pt-4 {
  margin-top: 2.5rem;
}

.pb-4 {
  margin-bottom: 2.5rem;
}

.m-5 {
  margin: 3.125rem;
}

.ms-5 {
  margin-left: 3.125rem;
}

.me-5 {
  margin-right: 3.125rem;
}

.mt-5 {
  margin-top: 3.125rem;
}

.mb-5 {
  margin-bottom: 3.125rem;
}

.p-5 {
  margin: 3.125rem;
}

.ps-5 {
  margin-left: 3.125rem;
}

.pe-5 {
  margin-right: 3.125rem;
}

.pt-5 {
  margin-top: 3.125rem;
}

.pb-5 {
  margin-bottom: 3.125rem;
}

.m-auto {
  margin: auto !important;
}

.ms-auto {
  margin-left: auto !important;
}

.me-auto {
  margin-right: auto !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.p-auto {
  margin: auto !important;
}

.ps-auto {
  margin-left: auto !important;
}

.pe-auto {
  margin-right: auto !important;
}

.pt-auto {
  margin-top: auto !important;
}

.pb-auto {
  margin-bottom: auto !important;
}

/* VARIABLE */
.mrp-logo {
  width: 55px;
  height: 55px;
  -o-object-fit: contain;
     object-fit: contain;
  background: white;
  padding: 15px;
  border-radius: 13px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
}

.mrp-navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  max-width: 100vw;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 2px 0px 8px 10px rgba(0, 0, 0, 0.095);
  transition: 0.5s;
  z-index: 9999;
}

.mrp-navbar.close {
  transition-delay: 0.25s;
  max-width: 0;
}

.mrp-navbar.close > .mrp-nav-body {
  margin-left: -285px;
}

.mrp-navbar.open > .mrp-nav-body {
  max-width: 250px;
}

.mrp-nav-body {
  transition: 0.25s;
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  max-width: 250px;
  background-color: white;
  overflow: hidden;
}

.mrp-nav-body > a {
  width: 100%;
  width: -webkit-fill-available;
  display: block;
  padding: 8px 15px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  color: #1f1f1f;
}

.mrp-nav-body > hr {
  margin-bottom: 2em;
  border-top: none;
}

.mrp-nav-body > a:nth-child(3) {
  margin-top: 1em;
}

.mrp-nav-body > a:hover {
  background-color: rgba(0, 0, 0, 0.814);
  color: white;
}

.mrp-nav-body > a.active {
  background: red;
  color: white;
}

.toolbar {
  background-color: rgb(246, 246, 246);
  display: flex;
  align-content: stretch;
  align-items: stretch;
}

.toolbar .body {
  margin-left: auto;
  display: flex;
  align-content: center;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}

.toolbar .body > * {
  margin: 0 15px;
}

.btn {
  text-decoration: none;
  border-radius: 5px;
  vertical-align: middle;
  line-height: 2.2em;
  padding: 0 1em;
}

.btn:has([class^=ic-]):hover {
  transition: 0.25s;
  color: rgb(80, 80, 80) !important;
  transform: scale(1.1);
}

@media only screen and (max-width: 800px) {
  [class^=container] {
    padding: 0 0.5em;
  }
}
@media only screen and (min-width: 1199px) {
  .content-wrapper {
    padding: 15px;
  }
  .mrp-navbar {
    max-width: 250px !important;
  }
  .mrp-navbar .mrp-nav-body {
    margin-left: 0 !important;
  }
  body:has(> .mrp-navbar) {
    margin-left: 251px !important;
  }
  [trigger=navbar] {
    display: none !important;
  }
  nav .brand {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */