@font-face {
    font-family: "Ubuntu";
    src: url("../font/Ubuntu/Ubuntu-Regular.ttf");
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

* {
    font-family: Ubuntu, sans-serif;
}

input {
    font-size: 16px;
}
input:not([type='file']) {
    width: 100%;
    padding: .5em .75em;
    border-radius: 2.5px;
    border: 1px solid #dadada;
    outline: none;
    max-width: -webkit-fill-available;
    margin: 8px auto;
}
input[type="submit"] {
    background-color: #00c0ff;
    color: white;
    font-weight: 700;
    box-shadow: 0px 1px 3px 1px rgb(0 0 0 /.3);
    outline: none;
    border: none;
}
textarea {
    width: 100%;
    outline: none;
    border: 1px solid #dadada;
    border-radius: 5px;
    padding: 0.5em 0.75em;
}
textarea:focus-visible, input:focus-visible {
    outline: none;
    border: #00c0ff 1px solid;
}
img {
    object-fit: contain;
    object-position: bottom;
}


[class^="container"] {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.container-sm {
    max-width: 800px;
}

[class^="container"] {
    padding: 0 .5em;
}

@media only screen and (max-width: 800px) {
    [class^="container"] {
        padding: 0 .5em;
    }
}
@media only screen and (min-width: 1199px) {
    .mrp-navbar {
        max-width: 250px !important;
    }
    .mrp-navbar .mrp-nav-body {
        margin-left: 0 !important;
    }
    body:has(>.mrp-navbar) {
        margin-left: 251px !important;
    }
    [trigger="navbar"] {
        display: none !important;
    }
    nav .brand {
        display: none;
    }

}

.mrp-logo {
    width: 55px;
    height: 55px;
    object-fit: contain;
    background: white;
    padding: 15px;
    border-radius: 13px;
    box-shadow: -2px 2px 5px rgb(0 0 0 /.5);
}

.align-center {
    text-align: center;
}
.toolbar {
    background-color: rgb(246 246 246);
    display: flex;
    align-content: stretch;
    align-items: stretch;
}
.toolbar .body {
    margin-left: auto;
    display: flex;
    align-content: center;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}
.toolbar .body > * {
    margin: 0 15px;
}
.btn {
    text-decoration: none;
    border-radius: 5px;
    vertical-align: middle;
    line-height: 2.2em;
    padding: 0 1em;
}
.btn:has([class^="micon"]):hover {
    transition: .25s;
    color: rgb(80, 80, 80) !important;
    transform: scale(1.1);
}