@font-face {
    font-family: "Ubuntu";
    src: url("../font/Ubuntu/Ubuntu-Regular.ttf");
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

* {
    font-family: Ubuntu, sans-serif;
}
img {
    object-fit: contain;
    object-position: bottom;
}
input {
    font-size: 16px;
}
input:not([type='file']) {
    width: 100%;
    padding: .5em .75em;
    border-radius: 2.5px;
    border: solid 1px #000000;
    outline: none;
    max-width: -webkit-fill-available;
    margin: 8px auto;
}
input[type="submit"] {
    background-color: #00c0ff;
    color: white;
    font-weight: 700;
    box-shadow: 0px 1px 3px 1px rgb(0 0 0 /.3);
    outline: none;
    border: none;
}

[class^="container"] {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.container-sm {
    max-width: 800px;
}

@media only screen and (max-width: 800px) {
    [class^="container"] {
        padding: 0 .5em;
    }
}

.mrp-logo {
    width: 55px;
    height: 55px;
    object-fit: contain;
    background: white;
    padding: 15px;
    border-radius: 13px;
    box-shadow: -2px 2px 5px rgb(0 0 0 /.5);
}

.align-center {
    text-align: center;
}