.layer {

    transition: .4s;

    position: fixed;
    top: 100%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);

    width: 90%;
    max-width: 600px;
    height: auto;
    background-color: rgba(255, 255, 255);
    z-index: 11;
}
@media only screen and (max-width: 400px) {
    .layer {
        width: 95%;
    }
}

.layer.show {

    top: 50%;
    opacity: 1;
}

body:has(.layer.show)::before {

    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb( 0 0 0 /.5);
    z-index: 10;
}
body:has(.layer.show) {
    overflow: hidden;
}

.layer>.head {

    display: flex;
    padding: 10px 8px;
    border-bottom: solid 1px rgb( 0 0 0 /.5);
    align-items: flex-end;
    background-color: rgb(37 37 40);
    color: white;
}

.layer>.head > * {

    margin: 0;
}

.layer>.head > *:nth-child(2) {

    margin-left: auto;
}

.layer > .head > .close {
    width: 22px;
    height: 22px;
    aspect-ratio: 1/1;
    border-radius: 3rem;
    font-size: 20px;
    position: relative;
    color: #da5353;
}

.layer>.head .btn:has([class^="micon"]) [class^="micon"] {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.layer>.body{
    padding: 10px;
}

.layer .footer {
    padding: 8px 10px;
    display: flex;
    justify-content: end;
}