<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='icon' type='image/png' href='/core/assets/png/Marapi-square-logo-nontext.png'>
    <link rel='icon' sizes='192x192' href='/core/assets/png/Marapi-square-logo-nontext.png'>
    <link rel='apple-touch-icon' href='/core/assets/png/Marapi-square-logo-nontext.png'>
    <meta name='msapplication-square310x310logo' content='/core/assets/png/Marapi-square-logo-nontext.png'>

    <link rel="stylesheet" href="/app/admin/asset/css/main.css">
    <title>Login Marapi</title>
</head>

<body>
    <div class="container align-center">

        <img class="mrp-logo" src="/core/assets/svg/Marapi-logo.svg" />
        <h1>Login admin panel</h1>

        <form data-width="100" method="POST">

            <input name="email" type="text" placeholder="Enter email address" required />
            <input name="password" type="password" placeholder="Enter password" required />
            <input type="submit" value="login" />

        </form>
    </div>
</body>

</html>