<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='icon' type='image/png' href='/core/assets/png/Marapi-square-logo-nontext.png'>
    <link rel='icon' sizes='192x192' href='/core/assets/png/Marapi-square-logo-nontext.png'>
    <link rel='apple-touch-icon' href='/core/assets/png/Marapi-square-logo-nontext.png'>
    <meta name='msapplication-square310x310logo' content='/core/assets/png/Marapi-square-logo-nontext.png'>

    <link rel="stylesheet" href="/app/admin/asset/css/style.css">
    <title>Admin panel | Marapi</title>
</head>

<body>
    
</body>

</html>