<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/app/asset/css/style.css">
    <title>Admin panel | Marapi</title>
</head>

<body>
    <nav>
        <a trigger="navbar">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </a>
        <a class="brand" style="font-weight: 900; padding: 5px 15px;">
            <img width="25" height="25" src="/core/assets/png/Marapi-logo-nontext.png">arapi CMS
        </a>
        <a class="ms-auto hover-primary text-primary" href="/" target="_blank" title="kunjungi halaman website"><i class="ic-world"></i> Website</a>
        
    </nav>
    <div class="mrp-navbar close">
        <div class="mrp-nav-body">
            {MENUS}
        </div>
    </div>



    <div class="container-xl">

        {CONTAINER}


    </div>

    <script type="module" src="/app/admin/asset/js/main.js"></script>
</body>

</html>